.bg {
  background: #1b1d34;
  width: 100%;
  height: 100vh;
}

.bgTest {
  width: 100%;
  height: 100%;
}

h1 {
  color: #fff;
  margin: auto;
}

.box {
  position: relative;
  width: 380px;
  height: 420px;
  background: #080812;
  border-radius: 8px;
  overflow: hidden;
}

.box::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, #fff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, #fff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.form {
  position: absolute;
  inset: 4px;
  border-radius: 8px;
  background: #080812;
  z-index: 10;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
}

.form h2 {
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
}

.inputBox {
  position: relative;
  width: 290px;
  margin-top: 35px;
}

.inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #080812;
  font-size: 16px;
  letter-spacing: 1px;
  z-index: 10;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 0 10px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  letter-spacing: 1px;
  transition: .5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  color: #fff;
  transform: translateX(0px) translateY(-34px);
  font-size: 12px;
}

.inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  transition: .5s;
  pointer-events: none;
  z-index: 9;
}

.inputBox input:valid~i,
.inputBox input:focus~i {
  height: 44px;
}

.link {
  display: flex;
  justify-content: flex-end;
}

.link a {
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
}

.link a:hover {
  color: #fff;
}

input[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  background: #fff;
  padding: 11px 25px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

input[type="submit"]:active {
  opacity: .8;
}